.copy {
  width: 100%;
  margin: 40px 0;

  &__wrapper {
    @include box-width;
  }

  &__loader {
    height: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  &__auth {
    border: 2px solid $color-grey;
    border-radius: 5px;
    padding: 20px;

    svg {
      height: 80px;
      width: 80px;
    }

    div {
      margin-bottom: 10px;
      &:last-child {
        margin-bottom: 0;
      }
    }

    h3 {
      font-weight: 500;
      text-align: center;
    }

    p {
      color: grey;
      text-align: center;
    }

    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      @include media("<=tablet") {
        flex-direction: column;
        justify-content: center;
      }
      .col {
        display: flex;
        flex-direction: column;
      }
    }
  }
}

.link-card {
  width: 100%;
  border: 2px solid $color-grey;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 50px;

  .divider {
    height: 2px;
    width: 100%;
    background-color: $color-grey;
    margin: 10px 0;
  }

  &__top {
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .col {
        display: flex;
        flex-direction: column;

        span {
          font-size: 1rem;
        }
        a {
          color: grey;
          font-size: 1rem;
          width: 40vw;
          overflow: hidden;
          white-space: nowrap;
          text-overflow: ellipsis;
        }
        .date {
          color: grey;
          font-size: 0.8rem;
          display: block;
          border: 1px solid grey;
          border-radius: 5px 3px;
          padding: 5px;
        }
      }
    }
  }

  &__bottom {
    .row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      .col {
        display: flex;
        flex-direction: column;
        overflow: hidden;

        a {
          color: red;
          &:hover {
            color: $color-blue;
          }
        }
        .register {
          color: $color-blue;
        }

        .clicks {
          display: flex;
          align-items: center;
          border-radius: 5px;
          border: 1px solid $color-blue;
          color: $color-blue;
          padding: 6px;
          span {
            background-color: $color-blue;
            color: white;
            padding: 3px 10px;
            border-radius: 5px;
            margin-left: 5px;

            @include media("<=phone") {
              font-size: 0.7rem;
              padding: 3px 5px;
            }
          }
        }
      }
    }
  }
}

.row__icon-copy {
  svg {
    width: 20px;
    height: 20px;
    fill: $color-primary;
    cursor: pointer;
    margin-left: 10px;
  }
}

.row__icon-delete {
  svg {
    width: 20px;
    height: 20px;
    fill: red;
    cursor: pointer;
    margin-left: 10px;
    margin-right: 20px;
  }
}
