.hero {
  height: 60vh;
  width: 100%;
  background-color: #bee2e7;

  @include media("<=tablet") {
    height: 50vh;
  }

  img {
    height: 70vh;
    width: 100%;
    object-fit: contain;
    transform: translateX(10%);
  }
}
