.hero {
  height: 60vh;
  width: 100%;
  background-color: $color-primary;

  @include media("<=tablet") {
    height: 50vh;
  }

  img {
    height: 70vh;
    width: 100%;
    object-fit: contain;
    transform: translateX(10%);
  }

  .typewriter {
    height: 70vh;
    color: white;
    font-size: 3rem;
    text-shadow: 1px solid;
    display: flex;
    align-items: center;
    justify-content: start;
    @include box-width;

    @include media("<=tablet") {
      font-size: 2rem;
    }
  }
}
