.overview {
  width: 100%;
  &__wrapper {
    @include box-width;
    background-color: white;
    border-radius: 10px;
    border: 2px solid $color-grey;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px 20px;

    p {
      font-size: 1.3rem;
      font-weight: 500;
    }

    .boxes {
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

      @include media("<=tablet") {
        flex-direction: column;
      }

      .box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        background-color: rgba($color-green, 0.2);
        padding: 40px 0;
        margin: 10px;
        border-radius: 20px;

        &.box2 {
          background-color: rgba($color-blue, 0.2);
        }

        &.box3 {
          background-color: rgba(red, 0.2);
        }

        h3 {
          font-size: 1.8rem;
          color: $color-primary;
        }

        span {
          color: grey;
          text-align: center;
        }
      }
    }
  }
}
